#home-container {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  overflow: auto;
}

.home-article {
  margin: 10px auto;
  padding: 5px 5px 0 5px;
  background-color: #3e68a3;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  display: grid;
  grid-template-columns: 20% 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: "img details";
}
.home-article:hover {
  box-shadow: 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(9, 40, 102, 1);
  transform: scale(1.03);
}

.img {
  grid-area: img;
}
img {
  width: 100%;
  border-radius: 10px;
}

.details {
  grid-area: details;
}
.details:hover {
  cursor: pointer;
}
.home-article:hover > .details > h3 {
  color: black;
}
.details > * {
  padding: 5px;
  margin-bottom: 5px;
}
.comment-count {
  display: flex;
  align-items: center;
}

#nav-topic {
  margin: 0 1rem;
  padding: 20px 0;
  text-align: center;
  overflow: auto;
}
#nav-topic > a {
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

#nav-topic > a:hover {
  text-decoration: underline 4px;
  text-decoration-color: black;
}

#nav-topic > .active {
  text-decoration: underline 4px;
  text-decoration-color: black;
}

#sort-menu {
  text-align: center;
}
#sort-menu > * {
  padding: 5px;
  margin: 5px;
}

@media (max-width: 800px) {
  .img {
    display: none;
  }
  .home-article {
    display: grid;
    grid-template-columns: 1.4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "details";
  }
}
@media (max-width: 600px) {
  #sort-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
