* {
  box-sizing: border-box;
}
html {
  font-family: "Exo", sans-serif;
}

body {
  background-color: #26272c;
  color: white;
}
header,
main,
footer {
  width: 80%;
  margin: 10px auto;
  background-color: #3e4f65;
  border-radius: 10px;
}

header {
  padding: 10px;
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: row;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  padding: 5px;
  margin: 5px;
  flex-grow: 1;
  flex-basis: 80%;
  cursor: pointer;
}

#login {
  flex-grow: 1;
  flex-basis: 20%;
  background-color: #4e637e;
  padding: 4px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
#login > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
#login:hover {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 0 0 rgba(9, 40, 102, 1), 0 0 10px 10px rgba(9, 40, 102, 1);
}

#login-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0vh;
  right: 0vw;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-modal > form {
  background-color: white;
  color: black;
  border-radius: 10px;
}

fieldset {
  margin: 1rem;
  padding: 0.5rem;
  border: solid black 2px;
}

fieldset > * {
  margin: 2px;
  padding: 2px;
}
legend {
  text-align: center;
}

#user-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0vh;
  right: 0vw;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#user-nav {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 100vh;
  width: 30vw;
}

#user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user-card > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

nav > a {
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
nav > a:hover {
  background-color: white;
  color: black;
}
